**/node_modules
node_modules
src/render/node_modules

/main_process
main_process

/render_process
render_process

/release
release

**/dist

build

.history
*.log
functions/*
.temp/**
*.tgz
.DS_Store
.eslintcache
.settings/
.project
.classpath
*.log
*.cache
*.diff
*.patch
*.tmp