# dependencies
**/node_modules

**/dist
**/main_process
**/render_process

release

.history
*.log
functions/*
.temp/**
*.tgz
.DS_Store
.eslintcache
.settings/
.project
.classpath
*.log
*.cache
*.diff
*.patch
*.tmp